#s-afd380a2-20da-4ffe-be93-a2e5307375fb > #backgroundBox {
  background-color: #E8FFDE;
  position: absolute;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb > #alignmentBox {
  position: relative;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 {
  position: absolute;
  width: 260.7885871946771px;
  min-height: 60.478873239436325px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 span#rtr-s-Paragraph_5_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_5 span#rtr-s-Paragraph_5_3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Path_6 {
  position: absolute;
  width: 216.39599609375px;
  height: 2.5634765625px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_2 {
  position: absolute;
  width: 532.5168198149394px;
  min-height: 903.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FF6363;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Path_2 {
  position: absolute;
  width: 371.570068359375px;
  height: 4.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Path_3 {
  position: absolute;
  width: 375.190185546875px;
  height: 4.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Path_4 {
  position: absolute;
  width: 378.809814453125px;
  height: 4.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Path_5 {
  position: absolute;
  width: 378.809814453125px;
  height: 4.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_3 {
  position: absolute;
  width: 928.7415771484372px;
  min-height: 64.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F9C891;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_3 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Ellipse_2 {
  width: 176.4565492011934px;
  height: 151.99999999999997px;
  min-height: 151.99999999999997px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 6.0px;
  stroke: #C7751A;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #F9B366;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Image_3 {
  position: absolute;
  width: 225.0px;
  height: 225.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_12 {
  position: absolute;
  width: 130.99999999999977px;
  min-height: 64.00000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_12 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_6 {
  position: absolute;
  width: 134.99999999999977px;
  min-height: 64.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_6 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_4 {
  position: absolute;
  width: 928.7415771484368px;
  min-height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F9C891;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_4 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_1 {
  position: absolute;
  width: 130.99999999999977px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_2 {
  position: absolute;
  width: 130.99999999999994px;
  min-height: 50.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_3 {
  position: absolute;
  width: 130.99999999999977px;
  min-height: 50.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_4 {
  position: absolute;
  width: 589.1199627370088px;
  min-height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Britannic Bold',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_4 span {
  color: #6E4949;
  text-align: center;
  text-decoration: none;
  font-family: 'Britannic Bold',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #6E4949;
  text-decoration: none;
  font-family: 'Britannic Bold',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_7 {
  position: absolute;
  width: 157.5350279472433px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_7 span {
  color: #FD9727;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FD9727;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_1 marker {
  fill: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_1 {
  position: absolute;
  width: 48.0px;
  height: 21.0px;
  -webkit-transform: rotate(149.65675111576044deg);
  -moz-transform: rotate(149.65675111576044deg);
  transform: rotate(149.65675111576044deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Line_1 {
  width: 48.0px;
  height: 21.0px;
  stroke-width: 7.0px;
  stroke: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_2 marker {
  fill: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_2 {
  position: absolute;
  width: 53.674050887021px;
  height: 21.0px;
  -webkit-transform: rotate(-154.9437128903049deg);
  -moz-transform: rotate(-154.9437128903049deg);
  transform: rotate(-154.9437128903049deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Line_2 {
  width: 53.674050887021px;
  height: 21.0px;
  stroke-width: 7.0px;
  stroke: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_3 marker {
  fill: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_3 {
  position: absolute;
  width: 47.72782923120371px;
  height: 21.0px;
  -webkit-transform: rotate(33.06354056774286deg);
  -moz-transform: rotate(33.06354056774286deg);
  transform: rotate(33.06354056774286deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Line_3 {
  width: 47.72782923120371px;
  height: 21.0px;
  stroke-width: 7.0px;
  stroke: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_4 marker {
  fill: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Line_4 {
  position: absolute;
  width: 52.811807332912444px;
  height: 21.0px;
  -webkit-transform: rotate(-33.750221069069326deg);
  -moz-transform: rotate(-33.750221069069326deg);
  transform: rotate(-33.750221069069326deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Line_4 {
  width: 52.811807332912444px;
  height: 21.0px;
  stroke-width: 7.0px;
  stroke: #ECED25;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_5 {
  position: absolute;
  width: 909.483154296875px;
  min-height: 359.99999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_8 {
  position: absolute;
  width: 411.0px;
  min-height: 179.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_8 span {
  color: #35B736;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Paragraph_8 span#rtr-s-Paragraph_8_2 {
  color: #333333;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Image_1 {
  position: absolute;
  width: 412.0713423341047px;
  height: 255.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Ellipse_1 {
  width: 98.39251397362227px;
  height: 92.50000000000034px;
  min-height: 92.50000000000034px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFAE56;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Image_4 {
  position: absolute;
  width: 42.55721832104359px;
  height: 45.55228212910441px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb #s-Image_2 {
  position: absolute;
  width: 532.0px;
  height: 904.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-afd380a2-20da-4ffe-be93-a2e5307375fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}