#s-d206744a-6453-4591-9535-d575284509b1 > #backgroundBox {
  background-color: #F6F7F8;
  position: absolute;
}
#s-d206744a-6453-4591-9535-d575284509b1 > #alignmentBox {
  position: relative;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Rectangle_2 {
  position: absolute;
  width: 1440.0px;
  min-height: 900.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 {
  position: absolute;
  width: 402.62365591397867px;
  min-height: 43.66666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #1EAAF1;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #1EAAF1;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #1EAAF1;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #1EAAF1;
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #D9D9D9;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 input::-webkit-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 input::-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 input:-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 input:-ms-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 {
  position: absolute;
  width: 446.99999999999915px;
  height: 48.90195220982298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_7 {
  position: absolute;
  width: 79.28027793778773px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_3 {
  position: absolute;
  width: 25.305555555555564%;
  min-height: 61.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #C7751A;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 input::-webkit-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 input::-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 input:-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 input:-ms-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 {
  position: absolute;
  width: 232.99999999999974px;
  height: 48.90195220982298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_4 {
  position: absolute;
  width: 66.96505376344078px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 input::-webkit-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 input::-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 input:-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 input:-ms-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 {
  position: absolute;
  width: 232.9999999999999px;
  height: 48.90195220982298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_5 {
  position: absolute;
  width: 60.96505376344072px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 input::-webkit-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 input::-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 input:-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 input:-ms-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 {
  position: absolute;
  width: 232.9999999999999px;
  height: 48.90195220982298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 input {
  color: #00EC0C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_6 {
  position: absolute;
  width: 134.95276875115582px;
  min-height: 21.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 input::-webkit-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 input::-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 input:-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 input:-ms-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 {
  position: absolute;
  width: 232.9999999999999px;
  height: 48.90195220982298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_8 {
  position: absolute;
  width: 75.96505376344078px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Image_1 {
  position: absolute;
  width: 720.0000000000011px;
  height: 900.0000000000007px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Image_2 {
  position: absolute;
  width: 177.0000000000001px;
  height: 204.42317596566528px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Image_3 {
  position: absolute;
  width: 720.0000000000011px;
  height: 900.0000000000007px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 input::-webkit-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 input::-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 input:-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 input:-ms-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 {
  position: absolute;
  width: 230.9999999999998px;
  height: 48.90195220982298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_1 {
  position: absolute;
  width: 67.60483870967727px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 input::-webkit-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 input::-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 input:-moz-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 input:-ms-input-placeholder {
  color: #999999;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 {
  position: absolute;
  width: 446.99999999999915px;
  height: 48.90195220982298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 .valign {
  vertical-align: middle;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_9 {
  position: absolute;
  width: 78.28027793778773px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d206744a-6453-4591-9535-d575284509b1 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d206744a-6453-4591-9535-d575284509b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}